// Insert Buttons Components Styles

/* .butt{
	display:inline-block;
	padding: 12px 25px;
	background:transparent;
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
	backface-visibility: hidden;
	border-radius:30px;
	color:$black-color;
	border: 0;
	transition: 0.3s ease-in-out;
	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
	&:hover{
		text-decoration: none;
		@extend %transform;
	}
}
.butt-white_pink{
	background:$white-color;
} */